.project-hero {
  color: black;
  position: relative;
}

.project-logo {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
}

.project-hero-header {
  text-align: center;
}

.project-hero-header span {
  font-size: 24px;
  font-weight: 700;
}

.project-hero-desc {
  padding: 20px 0px;
  color: #7a7a7a;
  text-align: center;
}

.project-hero-actions {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.back-project-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-project-modal-body {
  background: #fff;
  width: 50%;
  height: 80vh;
  overflow-y: auto;
}

.back-project-modal-header img {
  cursor: pointer;
  float: right;
}

.back-project-modal p {
  color: #727272;
}

.reward-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reward-card-container label {
  width: 100%;
  margin: 10px;
}

@media only screen and (max-width: 475px) {
  .project-hero-actions {
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-hero-actions button:nth-child(even) {
    margin-top: 20px;
  }

  .bookmark-logo {
    top: 270px;
  }

  .back-project-modal-body {
    width: 65%;
  }
}

.bookmark-btn {
  display: block;
  width: 190px;
  padding: 20px;
  border: none;
  border-radius: 50px;
  position: relative;
  font-family: 'Commisioner', sans-serif;
  font-size: 16px;
  color: hsl(0, 0%, 52%);
  font-weight: 700;
  text-align: right;
  cursor: pointer;
}

.bookmarked-btn {
  color: #3cb3ab;
}

.bookmark-logo {
  position: absolute;
  z-index: 999;
}

.bookmark-logo .circle {
  color: #3cb3ab;
}
