.project-hero {
  color: black;
  position: relative;
}

.project-logo {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
}

.project-hero-header {
  text-align: center;
}

.project-hero-header span {
  font-size: 24px;
  font-weight: 700;
}

.project-hero-desc {
  padding: 20px 0px;
  color: #7a7a7a;
  text-align: center;
}

.project-hero-actions {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 320px) and (max-width: 426px) {
  .project-hero-actions {
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-hero-actions button:nth-child(even) {
    margin-top: 20px;
  }
}
